.button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &--primary {
    background-color: #4caf50; /* Verde para adicionar */
    color: white;

    &:hover {
      background-color: #45a049;
    }
  }

  &--danger {
    background-color: #f44336; /* Vermelho para deletar */
    color: white;

    &:hover {
      background-color: #d32f2f;
    }
  }

  &--secondary {
    background-color: #e7e7e7; /* Cinza para cancelar */
    color: black;

    &:hover {
      background-color: #d6d6d6;
    }
  }

  /* Flexibilidade para tamanhos diferentes */
  &--small {
    padding: 5px 10px;
    font-size: 14px;
  }

  &--large {
    padding: 15px 30px;
    font-size: 18px;
  }
}
