.button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &--primary {
    background-color: #4caf50;
    color: white;

    &:hover {
      background-color: #45a049;
    }
  }

  &--danger {
    background-color: #f44336;
    color: white;

    &:hover {
      background-color: #d32f2f;
    }
  }

  &--secondary {
    background-color: #e7e7e7;
    color: black;

    &:hover {
      background-color: #d6d6d6;
    }
  }

  &--small {
    padding: 5px 10px;
    font-size: 14px;
  }

  &--large {
    width: 185px;
    height: 51px;
    font-weight: normal;
  }

  @media (max-width: 480px) {
    &--large {
      width: 100%;
    }

    &--danger {
      width: 100%;
      order: 1;
    }

    &--secondary {
      width: 100%;
      order: 2;
    }
  }
}
